.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-family: inherit;

    @include fonts(700, 16px, 30px, 0.06em);
   
    color: var(--white);
    background-color: var(--accent-txt-cl);

    width: 200px;
    height: 50px;
    border-radius: 4px;
    border: none;

    cursor: pointer;

    transition: background-color var(--trans-fast);

    &:hover,
    &:focus {
        background-color: var(--accent-bt);
    }
}
