.burger-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    color: black;
    background-color: transparent;
    border: none;

    cursor: pointer;

    transition: color var(--trans-fast);

 
    &:hover, &:focus {
        color: var(--accent-txt-cl);
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.burger__icon {
    fill:currentColor ;   
}



