.nav__list {
    display: flex;
    align-items: center;

    @media screen and (max-width: 767px) {
        display: none;
    }

    gap: 50px;
}


.nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    @include fonts(500, 14px, 16px, 0.02em);
  
    color: var(--link-cl);

    transition: color var(--trans-fast);

    &:hover,
    &:focus {
        color: var(--accent-txt-cl);
    }
}


.nav__link--current {
    position: relative;
    color: var(--accent-txt-cl);

    &::after {
        content: "";
    
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateY(5px);
    
        width: 100%;
        height: 4px;
        display: inline-block;
        border-radius: 2px;
        background-color: var(--accent-txt-cl);
    }
}


