.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    transition: transform var(--trans-fast);

    .portfolio__link:hover  &{
        transform: translateY(0);
    }

}