.check {
    display: flex;
    justify-content: center;
    align-items: center;
}


.check__custom {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 15px;
    outline: 2px solid var(--link-cl);
    outline-offset: -2px;
    border-radius: 2px;

    transition: background-color var(--trans-fast), outline-color var(--trans-fast);

    .check__input:checked + &{
        background-color: var(--accent-txt-cl);
        outline-color: var(--accent-txt-cl);
    }
}


.check__icon {
    fill: var(--white);
}

.check__agreement {
    user-select: none;
}


.check__link {
    color: var(--accent-txt-cl);
}