@mixin section($pt: 60px, $pb: 60px) {
    padding-top: $pt;
    padding-bottom: $pb;


    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}


@import "./decimals";

@mixin fonts($fw, $fs, $lh, $ls: 0.03em) {
    font-weight: $fw;
    font-size: $fs;
    line-height:calc($lh / $fs);
    letter-spacing: $ls;
}

