:root {
    --main-font: 'Roboto';
    --secondary-font: 'Raleway';
    --main-cl: #757575;
    --link-cl: #212121;
    --accent-txt-cl: #2196F3;
    --white: #FFFFFF;
    --dark-bg-cl: #2F303A;
    --accent-bt: #188CE8;
    --list-bg: #F5F4FA;
    --about-bg: #E5E5E5;
    --team: #F5F4FA;
    --foot: rgba(255, 255, 255, 0.6);
    --border-header: #ECECEC;
    --border-example: #EEEEEE;
    --indent: 30px;
    --items: 1;
    --social: #AFB1B8;
    --bg-order: #C4C4C4;
    --bg-social-footer: rgba(255, 255, 255, 0.1);
    --bg-cr-descr: rgba(47, 48, 58, 0.8);
    --trans-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}