.about {
   
    @media screen and (max-width: 1199px) {
        display: none;
    }
    
    @media screen and (min-width: 1200px) {
        padding-top: 0px;
    }
}


.about__title {
    margin-bottom: 50px;
}


.about__list {

    @media screen and (min-width: 1200px) {
        --items: 3;
    }

}


.about__item {
    position: relative;
}


.about__descr {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 0px;
    left: 0px;

    width: 100%;
    height: 70px;

    @include fonts(700, 14px, 16px);
   
    text-align: center;
    text-transform: uppercase;

    color: var(--white);
    background-color: var(--bg-cr-descr);
}
