.advantage {
    @include section;
}


.advantage__list {

    @media screen and (min-width: 1200px) {
        --items: 4;
    }
}


.advantage__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;

    background: var(--list-bg);
    border-radius: 4px;
}


.advantage__title {
    @include fonts(700, 14px, 16px);

    text-transform: uppercase;

    color: var(--link-cl);

    margin-bottom: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 768px) {
        display: inline;
    }
}