.clients {
    @include section;
}


.clients__title {
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
    }
}


.clients__list {
    --items: 2;
    
    @media screen and (min-width: 768px) {
        --items: 3;
    }
    
    @media screen and (min-width: 1200px) {
        --items: 6;
    }
}


.clients__item {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 170px;
    height: 92px;
    color: var(--social);
    border: 1px solid currentColor;
    border-radius: 4px;

    cursor: pointer;

    transition: color var(--trans-fast);

    
    &:hover, &:focus {
        color: var(--accent-txt-cl);
    }
}


.clients__link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: currentColor;
}


.clients__icon {
    fill: currentColor;
}