.footer {
    display: flex;
   
    background-color: var(--dark-bg-cl);
    padding: 60px 0;


    @media screen and (min-width: 1200px) {
        align-items: baseline;
    }
}


.footer__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    @media screen and (min-width: 1200px) {
        align-items: baseline;
        flex-direction: row;
    }

}

.footer-wrapper{
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        gap: 165px;
        margin-bottom: 60px;
    }
}

.footer-contact__adress {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @media screen and (max-width: 767px) {
        margin-bottom: 60px;
    }

   /*  @media screen and (min-width: 768px) {
        margin-left: 76px;
        
    } */
    
}

.footer__logo--accent {
    color: var(--white);
}


.footer__list {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 20px;
}


.footer__item {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    transition: color var(--trans-fast);

    &:hover,
    &:focus {
        color: var(--accent-txt-cl);
    }

    &:not(:last-child) {
        margin-bottom: 9px;
    }
}


.footer__item--connection {
    color: var(--foot);
}


.footer__item--adress {
    color: var(--white);
}


.footer__socials {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 767px) {
        margin-bottom: 60px;
    }

   /*  @media screen and (min-width: 768px) {
        margin-left: 89px;
    }
 */
    @media screen and (min-width: 1200px) {
        margin-left: 70px;
    }
    
}


.footer__text {
    @include fonts(null, 14px, 16px);
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--white);
}


.footer__socials-list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


.footer__form {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 1200px) {
        margin-left: auto;
    }
    
}